:root {
    --background-primary: #171717;
    --background-secondary: #27272a;
    --background-third: #3f3f46;

    --text-primary: #f9fafb;
    --text-secondary: #f3f4f6;
    --text-third: #e5e7eb;

    --color-primary: #1d4ed8;
    --color-primary-hover: #1e40af;
    --color-primary-active: #1e3a8a;

    --color-danger: #ef4444;
    --color-danger-hover: #dc2626;
    --color-danger-active: #b91c1c;

    --color-warning: #f59e0b;
    --color-warning-hover: #d97706;
    --color-warning-active: #b45309;

    --color-success: #10b981;
    --color-success-hover: #047857;
    --color-success-active: #065f46;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: white;
    color: var(--text-primary);
    padding: 0;
    margin: 0;
}

nav {
    background-color: var(--background-primary);
    color: var(--text-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    position: fixed;
    width: 100vw;
    left: 0;
    right: 0;
}

nav img {
    width: 25%;
    margin: 20px 150px;
}

nav a {
    background-color: var(--color-primary);
    color: var(--text-primary);
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 20px 150px;
}

.titan-caption {
    width: 100%;
    height: 100vh;
    background-image: url('../images/Map.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titan-caption .container {
    width: 100%;
}

.titan-caption .container .title h1, p {
    margin: 0;
}

.titan-caption .container .title {
    font-size: 3rem;
    color: var(--text-primary);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    text-transform: uppercase;
}

.titan-caption .container .description {
    font-size: 1.5rem;
    color: var(--text-primary);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titan-caption .container .joinus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.titan-caption .container .joinus a {
    background-color: var(--color-primary);
    color: var(--text-primary);
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

.container-img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-img img {
    width: 100%;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
    color: black;
}

.main .welcome {
    font-size: 2rem;
    color: var(--text-primary);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
}

.main .welcome h2 {
    margin: 20px 0;
}

.main .description {
    font-size: 1.5rem;
    color: var(--text-primary);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #303030;
    width: 50%;
    font-style: italic;
}

.main .joinus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.main .joinus a {
    border: solid 3px var(--color-primary);
    background-color: #f1f1f1;
    color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.2s ease;
}

.main .joinus a:hover {
    border: solid 3px var(--color-primary);
    background-color: var(--color-primary);
    color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.2s ease;
}

::-webkit-scrollbar {
    width: 4px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}